@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html, body{
    min-height: 100%
}

body {
    background-color: #373a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FDF1E7;
    margin: none;
}

svg{
    background-color: #058237;
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    /*border-radius: 5px; */
    padding: 10px;
    border-radius: 5px;
}

#canvas{
    min-height: 700px;
    min-width: 950px;
}


.county:hover{
    fill: black
}

g{
    color: #FDF1E7
}

#tooltip{
    background-color: #128ee1;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #FDF1E7;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend{
    color: rgb(56, 58, 74);
    font-size: 20px;
    text-align: center;
    min-height: 240px;
    max-width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#title{
    font-size: 28px;
    color: #FDF1E7;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description a{
    text-decoration: none;
    color: #FDF1E7;
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    width: 100%;
}

#rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

#legend_area {
    background-color: #058237;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}