@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

a {
    text-decoration: none;
}

#app {
    background: #fff;
}

.router-link-active {
    text-decoration: none !important;
}

.filler {
    height: 10vh;
}

.el-menu {
    border: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px !important;
    margin-bottom: 80px;
    /* background-color: #56A05B; */
    /* background-color: rgb(48, 144, 63); */
    /* background-color: rgb(8, 169, 32); */
    background-color: #09B845;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px !important;
    box-sizing: border-box;
    z-index: 1;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-menu,
.right-menu {
    display: flex;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    background: none !important;
}

.menu-item {
    width: 120px;
    font-size: 1rem !important;
    padding: 0 15px;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
}

.el-sub-menu__hide-arrow {
    display: none !important;
}

.menu-item a {
    color: white !important;
    font-weight: 500;
    white-space: wrap;
    text-align: center;
    line-height: 25px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.logo-item {
    padding-right: 20px;
}

.logo {
    height: 50px;
    width: 50px;
}
.hero-section{
    width: 100%;
}
@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .logo {
        max-height: 60px;
    }

    .menu-item {
        font-size: 0.75rem;
        padding: 0 8px;
    }

    .main-content {
        padding-top: 60px;
        /* 调整以适应响应式布局 */
    }
}


.el-footer,
.footer {
    width: 100%;
    margin: 0;
}
::-webkit-scrollbar{width:0;}

::-webkit-scrollbar { display: none; }
html,
body {
    margin: 0;
    /* 移除默认边距 */
    padding: 0;
    /* 移除默认内边距 */
    height: 100%;
    /* 设置为整个视口高度 */
}

body {
    background-color: #373a3a;
}

#app {
    min-height: 100vh;
    /* 确保 app 至少有 100% 的视口高度 */
    display: flex;
    flex-direction: column;
}

.el-container {
    display: block !important;
    /* flex: 1; */
    /* 使用 flex 1 让 container 占据所有可用空间 */
}
.el-header {
    height: 80px;
    /* 你的 header 高度 */
    font-family: 'Fredoka One', cursive;
/* font-weight: 400; */
}

.el-main {
    flex: 1;
    /* 让 main 占据所有剩余空间 */
    /* 确保没有外边距或内边距影响高度 */
    margin: 0;
    padding: 0 !important;
    overflow: hidden !important;
}

.el-footer {
    height: 80px;
    /* 你的 footer 高度 */
    font-family: 'Fredoka One', cursive;
/* font-weight: 400; */
}

body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Fredoka One', cursive;
    /* font-weight: 400; */
}

