/* .router-link-exact-active {
    color: inherit; 
    text-decoration: none; 
  }
.router-link-exact-active h1{
    color: inherit; 
    text-decoration: none; 
} */
a {
    color: #409EFF;
    text-decoration: none;
}

.router-link-active {
text-decoration: none;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
margin-top: 0px !important; /* 调整菜单栏与顶部的距离 */
}

.logo h1 {
margin-top: -100px;
}

.menu ul {
list-style-type: none;
margin-top: -90px;
padding: 0;
}

.menu ul li {
display: inline-block;
margin-right: 20px;
cursor: pointer;
}
.filler {
    height: 30vh; /* 使用视口高度作为填充高度 */
}


* {
    color: white !important;
}
.input-text {
    color: black !important;
}
